<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gui/main.css' %}">

    <title>Capstone</title>
</head>
<body>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Capstone 1</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <!-- Navbar Right Side -->
      </div>
    </div>
  </nav>
</header>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="content-section">
        <h3>Setup Menu</h3>
        <p class='text-muted'>Enter parameters for setting up the network.</p>
          <div class="btn-group" style="display: inline-block">
            <form action="#" method="get">
                <label>Number of Hosts: <input type="text" value="2" id="host" name="host" size="3"/></label>
                <label>Number of Switches: <input type="text" value="1" id="switch" name="switch" size="3"/></label>
                <label>Number of Controllers: <input type="text" value="1" id="controller" name="controller" size="3"/></label>
                <label>Link Nodes: <input type="text" value="h1, s1; h2, s1" id="link" name="link" /></label>
                <input type="submit" value="Set Parameters" name="setbtn">
                <input type="submit" value="Reset Parameters" name="resetbtn">
                <div>
                    <input type="submit" value="Generate Graph" name="graphbtn">
                    <input type="submit" value="Run Mininet" name="runbtn">
                </div>
            </form>
          </div>
      </div>
    </div>
    <div class="col-md-8">
<!--        {% block content %}{% endblock %}-->

    </div>
  </div>
</main>
 <iframe src="https://www.google.com" width="100%" height="800" > </iframe>




<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>